name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Run tests
        run: bun test
